{% extends "page/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div style="text-align: center;">
            <img src="{% static "page/cm_light.png" %}" style="width: 100px;">
            <br>
            <br>
            {% if STATUS == "TXN_SUCCESS" %}
            <h4>Thank you for your contribution of </h4>
            <hr style="border-color: white; opacity: 70%;">
        </div>
        <div class="content-section" style="text-align:center;">
           <h1 style="color:#007bff;"> &#x20B9; {{ TXNAMOUNT }}</h1>
        </div>
        {% else %}
        <h4>Some error occured</h4>
            <hr style="border-color: white; opacity: 70%;">
        </div>
        <div class="content-section" style="text-align:center;">
           <a href="{% url 'payment' %}"><h2 style="color:#007bff;"> Click here to try again!</h2></a>
        </div>
    {% endif %}
    <a href="{% url 'feed' %}"><button type="button" class="btn btn-info">&#8592; GO BACK</button></a>
    </div>
    
    <div class="col-md-4"></div>
</div>
{% endblock %}